# OpenWrt UCI Config for Hotspot Voucher System
# Save as: /etc/config/hotspot

config hotspot 'main'
    option enabled '1'
    option api_base 'https://hotzone-delta.vercel.app'
    option api_key ''
    option interface 'br-lan'
    option sync_interval '300'
    option status_interval '15'
    option log_file '/var/log/hotspot.log'
    option router_id ''

config hotspot 'qos'
    option enabled '1'
    option default_download '10240'  # kbps
    option default_upload '2048'     # kbps
